#slider-img {
    width: 830px;
    height: 415px;
    border: 1px solid black;
    margin: auto;
}

#img {
    width: 100%;
    max-width: 830px;
    height: 100%;
    max-height: 415px;
}

#btn-container {
    position: absolute;
    top: 200px;
}
#btn-prev{
    margin-left: 25px;
}
#btn-next{
    margin-left: 720px;
}